<div class="popup-content text-center overflow-hidden">
    <div class="popup-header">
        Cancel <span (click)="onNoClick(false)" class="material-icons">close</span>
    </div>
    <div class="popup-body">
        <img alt="delete icon" src="assets/images/cancelImage.png" />
        <p>{{data.message}}</p>
    </div>
    <div class="popup-footer">
        <div class="justify-content-between footer-buton" >
            <button (click)="onNoClick(true)" class="btn-style sm-btn red-btn" mat-button>Confirm</button>
            <button (click)="onNoClick(false)" class="btn-style sm-btn" mat-button>Cancel</button>
        </div>
    </div>
</div>
