<section class="dashboard-content">
<!--  <div class="box-style-breadcrumb p-4">-->
<!--    <div class="form-top d-flex justify-content-between align-items-center">-->
<!--      &lt;!&ndash;BreadCrumb&ndash;&gt;-->
<!--      <ul class="breadcrumb">-->
<!--        <li class="pointer-event" routerLink="/project-management">Project Management</li>-->
<!--        <li>Project Tasks</li>-->
<!--      </ul>-->
<!--      &lt;!&ndash;BreadCrumb&ndash;&gt;-->
<!--      <div class="btn-wrapper btn-wrapper-width">-->
<!--        <button class="btn-style red-btn" routerLink="/project-management/project-details/project-data/{{projectId}}">-->
<!--          <span class="material-icons"></span>Details-->
<!--        </button>-->
<!--        <button class="btn-style black-btn" routerLink="/project-management/project-details/task-manage/{{projectId}}">-->
<!--          <span class="material-icons"></span>Tasks-->
<!--        </button>-->
<!--        <button class="btn-style red-btn" routerLink="/project-management/project-details/files-manage/{{projectId}}">-->
<!--          <span class="material-icons"></span>Files-->
<!--        </button>-->
<!--        <button class="btn-style red-btn" routerLink="/project-management/project-details/change-request/{{projectId}}">-->
<!--          <span class="material-icons"></span>Change Request-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->


  <div class="box-style-breadcrumb p-4 mt-3">
  <div class="table-content box-style" style="border-radius: 0px 0px 3px 3px;">
    <div class="table-wrapper resource-color-table">
      <div class="">
        <div class="table-heading">
          <h3 style="font-weight: 700">Tasks</h3>
          <div class="search-form-wrapper">
          </div>
          <div class="search-form-wrapper">
            <button (click)="addTaskInList(projectId)" class="btn-style red-btn">
              <span class="material-icons">add</span>Add List
            </button>
          </div>
        </div>
        <div cdkScrollable class="task-manage-wrap wordBreak" >
          <div (cdkDropListDropped)="dropList($event)" [cdkDropListData]="allTaskListData" cdkDropList
             cdkDropListOrientation="horizontal"
             class="task-manage-wrap"  style="overflow-x: auto;">
            <div *ngFor="let tasks of allTaskListData; let i = index" [cdkDragData]="tasks" cdkDrag cdkDragHandle cdkDropListGroup class="task-column">
              <div cdkScrollable  class="task-card">
                <div cdkDragHandle class="task-head">
                  <h3>{{tasks.title}}</h3>
                  <div class="filter-list more-dropown">
                    <div [matMenuTriggerFor]="task_menu" class="action-icon">
                      <span class="material-icons rotate-icon">more_horiz</span>
                    </div>
                    <mat-menu #task_menu="matMenu">
                      <button (click)="editTaskInList(tasks, 0)" mat-menu-item><span class="material-icons">edit</span>Edit</button>
                      <button (click)="deleteTaskFromList(tasks._id, i, $event)" mat-menu-item><span class="material-icons">delete</span>delete</button>
                    </mat-menu>
                  </div>
                </div>
                <div (cdkDropListDropped)="dropCard($event, allTaskListData)" [cdkDropListConnectedTo]="getConnectedList()"
                   [cdkDropListData]="tasks.listCards"
                   cdkDropList
                   class="task-card-wrapper"
                   id={{tasks._id}}>
                   <div *ngFor="let cards of tasks.listCards, let childIndex = index" [cdkDragData]="cards" cdkDrag cdkDragHandle class="task-sub-wrap">
                    <div class="task-sub-card">
                        {{cards.title}}
                        <div class="more-dropown">
                          <div [matMenuTriggerFor]="card_menu" class="action-icon">
                            <span class="material-icons rotate-icon">more_horiz</span>
                          </div>
                          <mat-menu #card_menu="matMenu">
                            <button (click)="editCardInTask(cards, 0)" mat-menu-item><span class="material-icons">edit</span>Edit</button>
                            <button (click)="deleteCardFromTask(cards._id, i, childIndex, $event)" mat-menu-item ><span class="material-icons">delete</span>delete</button>
                          </mat-menu>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="add-card">
                    <a (click)="addCardInList(tasks)" href="javascript:;">+ Add Card</a>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="allTaskListData && allTaskListData.length == 0" class="text-center">
          <div class="text-muted font-medium-2 p-2">No Data Available</div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
