<section class="dashboard-content">
    <div class="box-style-breadcrumb p-4">
        <!--BreadCrumb-->
        <ul class="breadcrumb">
	        <li><a routerLink="/user-management" style="color: black; font-weight: 500">User Management</a></li>
	        <li class="active" style="color: black; font-weight: 500">Change Password</li>
            <!--<li routerLink="/user-management">User Management</li>
            <li class="pointer-event"> Change Password</li>-->
        </ul>
        <!--BreadCrumb-->
    </div>
<!--    <div class="mt-4" color="warn">-->
<!--            <div class="box-style-breadcrumb mt-4 p-5">-->
                <!--Card-->
                <form #myform="ngForm" [formGroup]="userChangePasswordForm" class="w-100"
                      name="userChangePasswordForm"
                      novalidate>
	                <div class="box-style-breadcrumb mt-4 p-5">
                    <div class="form-main ">
                        <h2 style="font-weight: 700;">Change Password</h2>
                        <div class="form-row-wrapper">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-field error-message-custom">
                                        <mat-form-field appearance="outline" class="element-full-width">
                                            <mat-label>New Password</mat-label>
                                            <input (keydown)="spaceInPwd($event)" (paste)="checkSpace($event)" formControlName="newpassword" matInput name="newpassword" required
                                                   type="password">
                                            <mat-error *ngIf="userChangePasswordForm.controls.newpassword.errors?.required">
                                                New Password is required!.
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-field">
                                        <mat-form-field appearance="outline" class="element-full-width">
                                            <mat-label>Confirm Password</mat-label>
                                            <input (keydown)="spaceInPwd($event)" (paste)="checkSpace($event)" formControlName="confirmPassword" matInput name="confirmPassword"
                                                   required type="password">
                                            <mat-error
                                                    *ngIf="userChangePasswordForm.controls.confirmPassword.errors?.required">
                                                Confirm your Password is required! .
                                            </mat-error>
                                            <mat-error *ngIf="checkIfMatchingPasswords('notEquivalent','')">
                                                Your Password does't Match
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
	                </div>
                    <div class="form-footer box-style-breadcrumb mt-3 p-3">
                        <button (click)="changePassword()" class="btn-style red-btn" type="submit">Save</button>
                        <button class="btn-style black-btn" routerLink="/user-management" type="button">Back</button>
                    </div>
                </form>
                <!--Card-->
<!--            </div>-->
<!--    </div>-->
</section>
