<section class="dashboard-content">
  <div class="account-wrapper">
    <div class="account-list">
      <div class="box-style">
        <h3>My Accounts</h3>
        <ul>
          <li routerLink="/my-account/my-profile" routerLinkActive ="active">Edit Profile</li>
          <li routerLink="/my-account/change-password" routerLinkActive ="active">Change Password</li>
        </ul>
      </div>
    </div>
    <div class="form-content-box box-style">
      <form #myform="ngForm" (ngSubmit)="changePassword()" [formGroup]= "changePasswordForm"  class="w-100"
      name="changePasswordForm"
      novalidate >
      <div class="form-main">
              <h2 style="font-weight: 700;">Change Password</h2>
                <div class="form-row-wrapper">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-field">
                                <mat-form-field appearance="outline" class="element-full-width">
                                    <mat-label>Current Password</mat-label>
                                    <input formControlName="password" matInput name="password" required type="password">
                                    <mat-error *ngIf="changePasswordForm.controls.password.errors?.required && changePasswordForm.controls.password" >
                                      Current Password is required!
                                   </mat-error>
                                  </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-field error-message-custom">
                                <mat-form-field appearance="outline" class="element-full-width">
                                    <mat-label>New Password</mat-label>
                                  <input (focusout)="checkPasswordMatch()" formControlName="newpassword" matInput name="newpassword" required type="password">
	                                <mat-error *ngIf="changePasswordForm.controls.newpassword.errors?.equal">
		                                Current password and new password should not be same!
	                                </mat-error>
                                  <mat-error *ngIf="changePasswordForm.controls.newpassword.errors?.required">
                                    New Password is required!
                                 </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-field">
                              <mat-form-field appearance="outline" class="element-full-width">
                                  <mat-label>Confirm Password</mat-label>
                                <input formControlName="confirmPassword" matInput name="confirmPassword" required type="password" >
                                <mat-error *ngIf="changePasswordForm.controls.confirmPassword.errors?.required">
                                  Confirm Password is required!
                               </mat-error>
                               <mat-error *ngIf="!changePasswordForm.controls.confirmPassword.errors?.required && checkIfMatchingPasswords('notEquivalent','')">
                                Your Password does't Match
                              </mat-error>
                              </mat-form-field>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="form-footer">
                <button class="btn-style black-btn" type="submit">Change Password</button>
            </div>
        </form>
    </div>
  </div>
</section>
