.box-style {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 5px rgb(0 0 0 / 5%);
}
.form-content-box .form-main {
    padding: 25px 20px;
}
.form-content-box .form-footer {
    border-top: 1px solid #eaeaea;
    padding: 25px 20px;
}
