.search-results {
  list-style: none;
  margin: 0;
  max-height: calc(100vh - 195px);
  overflow: auto;
  padding: 0;
}

.menuIcon {
  font-size: 38px;
}

.menuStyle {
  padding: 5px 10px !important;
}

.topRightMenu {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  span {
    width: 30px;
  }
}

.hover-effect-menu:hover button.mat-menu-item:first-child {
  font-size: 25px;
  top: 25px;
  left: 10px;
  transition-delay: .3s;
}

.hover-effect-menu:hover button.mat-menu-item:nth-child(2) {
  top: 60px;
  left: 48px;
  transition-delay: .4s
}

.hover-effect-menu:hover button.mat-menu-item:nth-child(3) {
  top: 115px;
  left: 45px;
  transition-delay: .4s
}

.hover-effect-menu:hover button.mat-menu-item:nth-child(4) {
  top: 150px;
  left: 10px;
  transition-delay: .4s
}
