<div>
	<mat-tab-group>
		<mat-tab label="Dashboard">
			<div class="accordion accordion-flush">
			<div class="accordion-item">
				<h2 class="accordion-header mt-4">
					<h2 style="font-weight: 500; color: #fe5c58;">Today's Activity</h2>
				</h2>
				<div aria-labelledby="flush-headingOne" class="accordion-collapse">
					<div class="row">
						<div *ngIf="roleName !== 'TEAMMEMBERS'" class="col-sm-3">
							<a (click)="openTodayActivityPopup('Today\'s Leaves','Leaves')" class="info-box box-style"
							   style="background-color: #999;background-image: url('assets/images/leave-icon-bg.png');">
								<div class="box-top">
									<h2>{{TotalLeavesToday}}</h2>
									<h4>Total Leaves for Today</h4>
								</div>
								<div class="box-icon">
									<img alt="icon" src="assets/images/leave-icon.svg"/>
								</div>
							</a>
						</div>
						<div class="col-sm-3">
							<a (click)="openTodayActivityPopup('Today\'s Birthday','Birthday')" class="info-box box-style"
							   style="background-color: #999;background-image: url('assets/images/birthday-icon-bg.png');">
								<div class="box-top">
									<h2>{{TotalBirthdayToday}}</h2>
									<h4>Total Birthday Today</h4>
								</div>
								<div class="box-icon">
									<img alt="icon" src="assets/images/birthday-icon.svg"/>
								</div>
							</a>
						</div>
						<div class="col-sm-3">
							<a (click)="openTodayActivityPopup('Today\'s work-anniversary','Anniversary')" class="info-box box-style"
							   style="background-color: #999;background-image: url('assets/images/work-anniversary-icon-bg.png');">
								<div class="box-top">
									<h2>{{TotalWorkAnniversaryToday}}</h2>
									<h4>Today's Work Anniversary</h4>
								</div>
								<div class="box-icon">
									<img alt="icon" src="assets/images/work-anniversary-icon.svg"/>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>

			<div *ngIf="roleName === 'SUPERADMINS' " class="accordion-item">
				<h2 class="accordion-header">
					<!--      <h2 class="accordion-header" (click)="openUserManagement()">-->
					<h2 style="font-weight: 500; color: #fe5c58;">User Management </h2>
				</h2>
				<div *ngIf="userManagementState" aria-labelledby="flush-headingOne" class="accordion-collapse">
					<div class="row">
						<div class="col-sm-3">
							<a (click)="noOfTotalUser()" class="info-box box-style" style="background: #006494;">
								<div class="box-top">
									<h2>{{totalUsers}}</h2>
									<h4>Total Users</h4>
								</div>
								<div class="box-icon">
									<img alt="icon" src="assets/images/total-users.svg"/>
								</div>
							</a>
						</div>
						<div class="col-sm-3">
							<a (click)="noOfTotalSuperAdmin()" class="info-box box-style" style="background: #469D89;">
								<div class="box-top">
									<h2>{{superAdmin}}</h2>
									<h4>Super Admin</h4>
								</div>
								<div class="box-icon">
									<img alt="icon" src="assets/images/super-admin.svg"/>
								</div>
							</a>
						</div>
						<div class="col-sm-3">
							<a (click)="noOfBDE()" class="info-box box-style" style="background: #006494">
								<div class="box-top">
									<h2>{{bde }}</h2>
									<h4>BDE</h4>
								</div>
								<div class="box-icon">
									<img alt="icon" src="assets/images/BDE.svg"/>
								</div>
							</a>
						</div>
						<div class="col-sm-3">
							<a (click)="noOfBDM()" class="info-box box-style" style="background:#469D89 ">
								<div class="box-top">
									<h2>{{bdm }}</h2>
									<h4>BDM</h4> <!-- Scrapped to Lost -->
								</div>
								<div class="box-icon">
									<img alt="icon" src="assets/images/BDE.svg"/>
								</div>
							</a>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3">
							<a (click)="noOfSalesManagers()" class="info-box box-style" style="background: #469D89">
								<div class="box-top">
									<h2>{{salesManagers }}</h2>
									<h4>Sales Managers</h4>
								</div>
								<div class="box-icon">
									<img alt="icon" src="assets/images/BDE.svg"/>
								</div>
							</a>
						</div>

						<div class="col-sm-3">
							<a (click)="noOfHRManagers()" class="info-box box-style" style="background: #006494">
								<div class="box-top">
									<h2>{{totalHrManagers}}</h2>
									<h4>HR Managers</h4>
								</div>
								<div class="box-icon">
									<img alt="icon" src="assets/images/BDE.svg"/>
								</div>
							</a>
						</div>
						<div class="col-sm-3">
							<a (click)="noOfProjectManagers()" class="info-box box-style" style="background: #469D89">
								<div class="box-top">
									<h2>{{totalProjectManagers}}</h2>
									<h4>Project Managers</h4>
								</div>
								<div class="box-icon">
									<img alt="icon" src="assets/images/BDE.svg"/>
								</div>
							</a>
						</div>
						<div class="col-sm-3">
							<a (click)="noOfTotalTeamLeaders()" class="info-box box-style" style="background: #006494">
								<div class="box-top">
									<h2>{{totalTeamLeaders}}</h2>
									<h4>Team Leaders</h4>
								</div>
								<div class="box-icon">
									<img alt="icon" src="assets/images/total-users.svg"/>
								</div>
							</a>
						</div>
						<div class="col-sm-3">
							<a (click)="noOfTotalTeamMembers()" class="info-box box-style" style="background: #006494">
								<div class="box-top">
									<h2>{{totalTeamMembers}}</h2>
									<h4>Team Members</h4>
								</div>
								<div class="box-icon">
									<img alt="icon" src="assets/images/BDE.svg"/>
								</div>
							</a>
						</div>
					</div>
				</div>
				<h2 class="accordion-header">
					<!--      <h2 class="accordion-header" (click)="openUserManagement()">-->
					<h2 style="font-weight: 500; color: #fe5c58;">Inventory Management </h2>
				</h2>
				<div class="row">
					<div class="col-sm-3">
						<a class="info-box box-style"
						   style="background: #469D89; cursor: pointer">
							<div class="box-top">
								<h2>{{totalReport}}</h2>
								<h4>Total Reports</h4>
							</div>
							<div class="box-icon">
								<img alt="icon" src="assets/images/proposal-sent.svg"/>
							</div>
						</a>
					</div>
					<div class="col-sm-3">
						<a class="info-box box-style"
						   style="background: #006494; cursor: pointer">
							<div class="box-top">
								<h2>{{openReport}}</h2>
								<h4>Open Report</h4>
							</div>
							<div class="box-icon">
								<img alt="icon" src="assets/images/in-progress-project.svg"/>
							</div>
						</a>
					</div>
					<div class="col-sm-3">
						<a class="info-box box-style"
						   style="background: #469D89; cursor: pointer">
							<div class="box-top">
								<h2>{{closedReport}}</h2>
								<h4>Closed Report</h4>
							</div>
							<div class="box-icon">
								<img alt="icon" src="assets/images/Path 102521.svg"/>
							</div>
						</a>
					</div>
				</div>
			</div>
			<!--User Management-->
			<!--Lead Management-->
			<div *ngIf="roleName === 'SUPERADMINS' || roleName === 'BUSINESSDEVELOPMENTEXECUTIVE' || roleName === 'BUSINESSDEVELOPMENTMANAGER' || roleName === 'SALESMANAGERS'"
				 class="accordion-item">
				<h2 class="accordion-header">
					<!--      <h2 class="accordion-header" (click)="openSalesManagement()">-->
					<h2 style="font-weight: 500; color: #fe5c58;">Lead Management </h2>
				</h2>
				<div
						aria-labelledby="flush-headingOne" class="accordion-collapse">
					<div class="row">
						<div class="col-sm-3">
							<a (click)="totalLead($event)" class="info-box box-style" style="background: #5A58FE">
								<div class="box-top">
									<h2>{{totalLeads > 0 ? totalLeads : 0}}</h2>
									<h4>Total Leads</h4>
								</div>
								<div class="box-icon">
									<img alt="icon" src="assets/images/all-leads.svg"/>
								</div>
							</a>
						</div>
						<div class="col-sm-3">
							<a (click)="openLead($event)" class="info-box box-style"
							   style="background: #AE58FE">
								<div class="box-top">
									<h2>{{open_leads > 0 ? open_leads : 0}}</h2>
									<h4>Open Leads</h4>
								</div>
								<div class="box-icon">
									<img alt="icon" src="assets/images/project-completed.svg"/>
								</div>
							</a>
						</div>
						<div class="col-sm-3">
							<a (click)="onHold($event)" class="info-box box-style" style="background: #920301">
								<div class="box-top">
									<h2>{{on_hold > 0 ? on_hold : 0}}</h2>
									<h4>On Hold</h4>
								</div>
								<div class="box-icon">
									<img alt="icon" src="assets/images/project-hold.svg"/>
								</div>
							</a>
						</div>
						<div class="col-sm-3">
							<a (click)="scopeSent($event)" class="info-box box-style" style="background: #FF598F">
								<div class="box-top">
									<h2>{{scope_sent > 0 ? scope_sent : 0}}</h2>
									<h4>Scope Sent</h4>
								</div>
								<div class="box-icon">
									<img alt="icon" src="assets/images/scope-sent.svg"/>
								</div>
							</a>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3">
							<a (click)="proposalSent($event)" class="info-box box-style" style="background: #FF9559">
								<div class="box-top">
									<h2>{{proposal_sent > 0 ? proposal_sent : 0}}</h2>
									<h4>Proposal Sent</h4>
								</div>
								<div class="box-icon">
									<img alt="icon" src="assets/images/proposal-sent.svg"/>
								</div>
							</a>
						</div>

						<div class="col-sm-3">
							<a (click)="invoiceSent($event)" class="info-box box-style" style="background: #FF9559">
								<div class="box-top">
									<h2>{{ invoice_sent > 0 ? invoice_sent : 0}}</h2>
									<h4>Invoice Sent</h4>
								</div>
								<div class="box-icon">
									<img alt="icon" src="assets/images/proposal-sent.svg"/>
								</div>
							</a>
						</div>


						<div class="col-sm-3">
							<a (click)="closeLead($event)" class="info-box box-style"
							   style="background: #00A65A;cursor: pointer">
								<div class="box-top">
									<h2>{{totalWonLeads > 0 ? totalWonLeads : 0}}</h2>
									<h4>Won Leads</h4> <!-- closed to won -->
								</div>
								<div class="box-icon">
									<img alt="icon" src="assets/images/won-leads.svg"/>
								</div>
							</a>
						</div>
						<div class="col-sm-3">
							<a (click)="scrappedLeads($event)" class="info-box box-style" style="background: #FE5C58">
								<div class="box-top">
									<h2>{{lost_lead > 0 ? lost_lead : 0}}</h2>
									<h4>Lost Leads</h4> <!-- Scrapped to Lost -->
								</div>
								<div class="box-icon">
									<img alt="icon" src="assets/images/lost-leads.svg"/>
								</div>
							</a>
						</div>
						<div class="col-sm-3">
							<a (click)="hotLead($event)" class="info-box box-style" style="background: #E159FF">
								<div class="box-top">
									<h2>{{hot_lead > 0 ? hot_lead : 0}}</h2>
									<h4>Hot Leads</h4>
								</div>
								<div class="box-icon">
									<img alt="icon" src="assets/images/hot-leads.svg"/>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<!--Lead Management-->
			<!--Project Management-->
			<div *ngIf="roleName === 'SUPERADMINS' || roleName === 'PROJECTMANAGERS'" class="accordion-item">
				<h2 class="accordion-header">
					<!--      <h2 class="accordion-header" (click)="openProjectManagement()">-->
					<h2 style="font-weight: 500;color: #fe5c58;">Project Management </h2>
				</h2>
				<!--      <div *ngIf="roleName === 'PROJECTMANAGERS' ? !projectManagementState : projectManagementState "-->
				<div aria-labelledby="flush-headingOne" class="accordion-collapse">
					<div class="row">
						<div class="col-sm-3">
							<a (click)="noOfProjects()" class="info-box box-style" style="background: #00A6FB">
								<div class="box-top">
									<h2>{{totalProjects > 0 ? totalProjects : 0}}</h2>
									<h4>Total Projects</h4>
								</div>
								<div class="box-icon">
									<img alt="icon" src="assets/images/total-project.svg"/>
								</div>
							</a>
						</div>
						<div class="col-sm-3">
							<a (click)="noOfInProgessProjects()" class="info-box box-style" style="background: #0582CA">
								<div class="box-top">
									<h2>{{inProgressProjects > 0 ? inProgressProjects : 0}}</h2>
									<h4>In Progress Project</h4>
								</div>
								<div class="box-icon">
									<img alt="icon" src="assets/images/in-progress-project.svg"/>
								</div>
							</a>
						</div>
						<div class="col-sm-3">
							<a (click)="noOfCompletedProjects()" class="info-box box-style" style="background: #006494">
								<div class="box-top">
									<h2>{{completedProjects > 0 ? completedProjects : 0}}</h2>
									<h4>Completed Projects</h4>
								</div>
								<div class="box-icon">
									<img alt="icon" src="assets/images/completed-projects.svg"/>
								</div>
							</a>
						</div>
						<div class="col-sm-3">
							<a (click)="noOfOnHoldProjects()" class="info-box box-style" style="background: #003554">
								<div class="box-top">
									<h2>{{onHoldProjects > 0 ? onHoldProjects : 0}}</h2>
									<h4>On Hold Projects</h4>
								</div>
								<div class="box-icon">
									<img alt="icon" src="assets/images/on-hold-projects.svg"/>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
			<div *ngIf="roleName === 'TEAMMEMBERS' || roleName ==='PROJECTMANAGERS' || roleName ==='BUSINESSDEVELOPMENTEXECUTIVE' || roleName ==='BUSINESSDEVELOPMENTMANAGER' || roleName ==='SALESMANAGERS' || roleName ==='NETWORKENGINEER'">
				<h2 class="mt-4" style="color: #fe5c58; font-weight: 500">My Leaves :</h2>
				<div class="row">
					<div class="col-sm-3">
						<a class="info-box box-style" style="background-color: #999; cursor: default;background-image: url('assets/images/leave-new-icon-bg.png');" >
							<div class="box-top">
								<h2>{{salesReport?.MYTotalLeaves}}</h2>
								<h4>Total Leaves</h4>
							</div>
							<div class="box-icon">
								<img alt="icon" src="assets/images/leave-new-icon.svg"/>
							</div>
						</a>
					</div>
					<div class="col-sm-3">
						<a class="info-box box-style" style="background-color: #999;cursor: default; background-image: url('assets/images/approved-leave-icon-bg.png');">
							<div class="box-top">
								<h2>{{salesReport?.MYTotalApprovedLeaves}}</h2>
								<h4>Total Approved Leaves</h4>
							</div>
							<div class="box-icon">
								<img alt="icon" src="assets/images/approved-leave-icon.svg"/>
							</div>
						</a>
					</div>
					<div class="col-sm-3">
						<a class="info-box box-style" style="background-color: #999;cursor: default; background-image: url('assets/images/rejected-leaves-icon-bg.png');">
							<div class="box-top">
								<h2>{{salesReport?.MYTotalRejectsLeaves}}</h2>
								<h4>Total Rejected Leaves</h4>
							</div>
							<div class="box-icon">
								<img alt="icon" src="assets/images/rejected-leaves-icon.svg"/>
							</div>
						</a>
					</div>
					<div class="col-sm-3">
						<a class="info-box box-style" style="background-color: #999;cursor: default; background-image: url('assets/images/pending-leaves-icon-bg.png');">
							<div class="box-top">
								<h2>{{salesReport?.MYTotalPendingLeaves}}</h2>
								<h4>Total Pending Leaves</h4>
							</div>
							<div class="box-icon">
								<img alt="icon" src="assets/images/pending-leaves-icon.svg"/>
							</div>
						</a>
					</div>
					<div class="col-sm-3">
						<a
								class="info-box box-style" style="background-color: #999;cursor: default; background-image: url('assets/images/cancelled-leave.jpg');">
							<div class="box-top">
								<h2>{{salesReport?.MYTotalCancelledLeaves}}</h2>
								<h4>Total Cancelled Leaves</h4>
							</div>
							<div class="box-icon">
								<img alt="icon" src="assets/images/rejected-leaves-icon.svg"/>
							</div>
						</a >
					</div>
				</div>
			</div>
		</mat-tab>
		<mat-tab *ngIf="roleName === 'SUPERADMINS' || roleName==='TEAMLEADERS'  " label="My Dashboard"> 	<h2 class="mt-4" style="color: #fe5c58; font-weight: 500">My Leaves :</h2>
			<div class="row">
				<div class="col-sm-3">
					<a class="info-box box-style" style="background-color: #999; cursor: default;background-image: url('assets/images/leave-new-icon-bg.png');" >
						<div class="box-top">
							<h2>{{salesReport?.MYTotalLeaves}}</h2>
							<h4>Total Leaves</h4>
						</div>
						<div class="box-icon">
							<img alt="icon" src="assets/images/leave-new-icon.svg"/>
						</div>
					</a>
				</div>
				<div class="col-sm-3">
					<a class="info-box box-style" style="background-color: #999;cursor: default; background-image: url('assets/images/approved-leave-icon-bg.png');">
						<div class="box-top">
							<h2>{{salesReport?.MYTotalApprovedLeaves}}</h2>
							<h4>Total Approved Leaves</h4>
						</div>
						<div class="box-icon">
							<img alt="icon" src="assets/images/approved-leave-icon.svg"/>
						</div>
					</a>
				</div>
				<div class="col-sm-3">
					<a class="info-box box-style" style="background-color: #999;cursor: default; background-image: url('assets/images/rejected-leaves-icon-bg.png');">
						<div class="box-top">
							<h2>{{salesReport?.MYTotalRejectsLeaves}}</h2>
							<h4>Total Rejected Leaves</h4>
						</div>
						<div class="box-icon">
							<img alt="icon" src="assets/images/rejected-leaves-icon.svg"/>
						</div>
					</a>
				</div>
				<div class="col-sm-3">
					<a class="info-box box-style" style="background-color: #999;cursor: default; background-image: url('assets/images/pending-leaves-icon-bg.png');">
						<div class="box-top">
							<h2>{{salesReport?.MYTotalPendingLeaves}}</h2>
							<h4>Total Pending Leaves</h4>
						</div>
						<div class="box-icon">
							<img alt="icon" src="assets/images/pending-leaves-icon.svg"/>
						</div>
					</a>
				</div>
				<div class="col-sm-3">
					<a
					   class="info-box box-style" style="background-color: #999;cursor: default; background-image: url('assets/images/cancelled-leave.jpg');">
						<div class="box-top">
							<h2>{{salesReport?.MYTotalCancelledLeaves}}</h2>
							<h4>Total Cancelled Leaves</h4>
						</div>
						<div class="box-icon">
							<img alt="icon" src="assets/images/rejected-leaves-icon.svg"/>
						</div>
					</a >
				</div>
			</div>
		</mat-tab>
	</mat-tab-group>

	<!--Project Management-->
	<!--  <h2 style="font-weight: 500">User Management</h2>-->
	<!--  <div class="row">-->
	<!--    <div class="col-sm-3">-->
	<!--      <a class="info-box box-style" style="background: #006494;" (click)="noOfTotalUser()">-->
	<!--        <div class="box-top">-->
	<!--          <h2>{{totalUsers > 0 ? totalUsers : 0}}</h2>-->
	<!--          <h4>Total Users</h4>-->
	<!--        </div>-->
	<!--        <div class="box-icon">-->
	<!--          <img alt="icon" src="assets/images/total-users.svg"/>-->
	<!--        </div>-->
	<!--      </a>-->
	<!--    </div>-->
	<!--    <div class="col-sm-3">-->
	<!--      <div class="info-box box-style" style="background: #469D89;" (click)="noOfTotalSuperAdmin()">-->
	<!--        <div class="box-top">-->
	<!--          <h2>{{superAdmin > 0 ? superAdmin : 0}}</h2>-->
	<!--          <h4>Super Admin</h4>-->
	<!--        </div>-->
	<!--        <div class="box-icon">-->
	<!--          <img alt="icon" src="assets/images/super-admin.svg"/>-->
	<!--        </div>-->
	<!--      </div>-->
	<!--    </div>-->
	<!--    <div class="col-sm-3">-->
	<!--      <a class="info-box box-style" style="background: #006494" (click)="noOfBDE()">-->
	<!--        <div class="box-top">-->
	<!--          <h2>{{bde > 0 ? bde : 0}}</h2>-->
	<!--          <h4>BDE</h4>-->
	<!--        </div>-->
	<!--        <div class="box-icon">-->
	<!--          <img alt="icon" src="assets/images/BDE.svg"/>-->
	<!--        </div>-->
	<!--      </a>-->
	<!--    </div>-->
	<!--    <div class="col-sm-3">-->
	<!--      <a class="info-box box-style" style="background:#469D89 " (click)="noOfBDM()">-->
	<!--        <div class="box-top">-->
	<!--          <h2>{{bdm > 0 ? bdm : 0}}</h2>-->
	<!--          <h4>BDM</h4> &lt;!&ndash; Scrapped to Lost &ndash;&gt;-->
	<!--        </div>-->
	<!--        <div class="box-icon">-->
	<!--          <img alt="icon" src="assets/images/BDE.svg"/>-->
	<!--        </div>-->
	<!--      </a>-->
	<!--    </div>-->
	<!--  </div>-->
	<!--  <div class="row">-->
	<!--    <div class="col-sm-3">-->
	<!--      <a class="info-box box-style" style="background: #469D89" (click)="noOfSalesManagers()">-->
	<!--        <div class="box-top">-->
	<!--          <h2>{{salesManagers > 0 ? salesManagers : 0}}</h2>-->
	<!--          <h4>Sales Managers</h4>-->
	<!--        </div>-->
	<!--        <div class="box-icon">-->
	<!--          <img alt="icon" src="assets/images/BDE.svg"/>-->
	<!--        </div>-->
	<!--      </a>-->
	<!--    </div>-->
	
	<!--    <div class="col-sm-3">-->
	<!--      <a class="info-box box-style" style="background: #006494" (click)="noOfHRManagers()">-->
	<!--        <div class="box-top">-->
	<!--          <h2>{{totalHrManagers > 0 ? totalHrManagers : 0}}</h2>-->
	<!--          <h4>HR Managers</h4>-->
	<!--        </div>-->
	<!--        <div class="box-icon">-->
	<!--          <img alt="icon" src="assets/images/BDE.svg"/>-->
	<!--        </div>-->
	<!--      </a>-->
	<!--    </div>-->
	
	<!--    <div class="col-sm-3">-->
	<!--      <a class="info-box box-style" style="background: #469D89" (click)="noOfProjectManagers()">-->
	<!--        <div class="box-top">-->
	<!--          <h2>{{totalProjectManagers > 0 ? totalProjectManagers : 0}}</h2>-->
	<!--          <h4>Project Managers</h4>-->
	<!--        </div>-->
	<!--        <div class="box-icon">-->
	<!--          <img alt="icon" src="assets/images/BDE.svg"/>-->
	<!--        </div>-->
	<!--      </a>-->
	<!--    </div>-->
	<!--  </div>-->
</div>
<!----------------User Management---------------->
<!----------------Sales Management---------------->
<!--<h2 style="font-weight: 500">Sales Management</h2>-->
<!--<div class="row">-->
<!--  <div class="col-sm-3">-->
<!--    <a class="info-box box-style" style="background: #5A58FE" (click)="totalLead($event)">-->
<!--      <div class="box-top">-->
<!--        <h2>{{totalLeads > 0 ? totalLeads : 0}}</h2>-->
<!--        <h4>Total Leads</h4>-->
<!--      </div>-->
<!--      <div class="box-icon">-->
<!--        <img alt="icon" src="assets/images/all-leads.svg"/>-->
<!--      </div>-->
<!--    </a>-->
<!--  </div>-->
<!--  <div class="col-sm-3">-->
<!--    <a class="info-box box-style" style="background: #AE58FE"-->
<!--       (click)="openLead($event)">-->
<!--      <div class="box-top">-->
<!--        <h2>{{open_leads > 0 ? open_leads : 0}}</h2>-->
<!--        <h4>Open Leads</h4>-->
<!--      </div>-->
<!--      <div class="box-icon">-->
<!--        <img alt="icon" src="assets/images/project-completed.svg"/>-->
<!--      </div>-->
<!--    </a>-->
<!--  </div>-->
<!--  <div class="col-sm-3">-->
<!--    <a class="info-box box-style" style="background: #920301" (click)="onHold($event)">-->
<!--      <div class="box-top">-->
<!--        <h2>{{on_hold > 0 ? on_hold : 0}}</h2>-->
<!--        <h4>On Hold</h4>-->
<!--      </div>-->
<!--      <div class="box-icon">-->
<!--        <img alt="icon" src="assets/images/project-hold.svg"/>-->
<!--      </div>-->
<!--    </a>-->
<!--  </div>-->
<!--  <div class="col-sm-3">-->
<!--    <a class="info-box box-style" style="background: #FF598F" (click)="scopeSent($event)">-->
<!--      <div class="box-top">-->
<!--        <h2>{{scope_sent > 0 ? scope_sent : 0}}</h2>-->
<!--        <h4>Scope Sent</h4>-->
<!--      </div>-->
<!--      <div class="box-icon">-->
<!--        <img alt="icon" src="assets/images/scope-sent.svg"/>-->
<!--      </div>-->
<!--    </a>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="row">-->
<!--  <div class="col-sm-3">-->
<!--    <a class="info-box box-style" style="background: #FF9559" (click)="proposalSent($event)">-->
<!--      <div class="box-top">-->
<!--        <h2>{{proposal_sent > 0 ? proposal_sent : 0}}</h2>-->
<!--        <h4>Proposal Sent</h4>-->
<!--      </div>-->
<!--      <div class="box-icon">-->
<!--        <img alt="icon" src="assets/images/proposal-sent.svg"/>-->
<!--      </div>-->
<!--    </a>-->
<!--  </div>-->
<!--  <div class="col-sm-3">-->
<!--    <div class="info-box box-style" style="background: #00A65A;cursor: pointer" (click)="closeLead($event)">-->
<!--      <div class="box-top">-->
<!--        <h2>{{totalWonLeads > 0 ? totalWonLeads : 0}}</h2>-->
<!--        <h4>Won Leads</h4> &lt;!&ndash; closed to won &ndash;&gt;-->
<!--      </div>-->
<!--      <div class="box-icon">-->
<!--        <img alt="icon" src="assets/images/won-leads.svg"/>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="col-sm-3">-->
<!--    <a class="info-box box-style" style="background: #FE5C58" (click)="scrappedLeads($event)">-->
<!--      <div class="box-top">-->
<!--        <h2>{{lost_lead > 0 ? lost_lead : 0}}</h2>-->
<!--        <h4>Lost Leads</h4> &lt;!&ndash; Scrapped to Lost &ndash;&gt;-->
<!--      </div>-->
<!--      <div class="box-icon">-->
<!--        <img alt="icon" src="assets/images/lost-leads.svg"/>-->
<!--      </div>-->
<!--    </a>-->
<!--  </div>-->
<!--  <div class="col-sm-3">-->
<!--    <a class="info-box box-style" style="background: #E159FF" (click)="hotLead($event)">-->
<!--      <div class="box-top">-->
<!--        <h2>{{hot_lead > 0 ? hot_lead : 0}}</h2>-->
<!--        <h4>Hot Leads</h4>-->
<!--      </div>-->
<!--      <div class="box-icon">-->
<!--        <img alt="icon" src="assets/images/hot-leads.svg"/>-->
<!--      </div>-->
<!--    </a>-->
<!--  </div>-->
<!--</div>-->
<!----------------Sales Management---------------->
<!----------------Project Management---------------->
<!--<h2 style="font-weight: 500">Project Management</h2>-->
<!--<div class="row">-->
<!--  <div class="col-sm-3">-->
<!--    <a class="info-box box-style" style="background: #00A6FB">-->
<!--      <div class="box-top">-->
<!--        <h2>{{totalProjects > 0 ? totalProjects : 0}}</h2>-->
<!--        <h4>Total Projects</h4>-->
<!--      </div>-->
<!--      <div class="box-icon">-->
<!--        <img alt="icon" src="assets/images/total-project.svg"/>-->
<!--      </div>-->
<!--    </a>-->
<!--  </div>-->
<!--  <div class="col-sm-3">-->
<!--    <a class="info-box box-style" style="background: #0582CA"-->
<!--    >-->
<!--      <div class="box-top">-->
<!--        <h2>{{inProgressProjects > 0 ? inProgressProjects : 0}}</h2>-->
<!--        <h4>In Progress Project</h4>-->
<!--      </div>-->
<!--      <div class="box-icon">-->
<!--        <img alt="icon" src="assets/images/in-progress-project.svg"/>-->
<!--      </div>-->
<!--    </a>-->
<!--  </div>-->
<!--  <div class="col-sm-3">-->
<!--    <a class="info-box box-style" style="background: #006494">-->
<!--      <div class="box-top">-->
<!--        <h2>{{completedProjects > 0 ? completedProjects : 0}}</h2>-->
<!--        <h4>Completed Projects</h4>-->
<!--      </div>-->
<!--      <div class="box-icon">-->
<!--        <img alt="icon" src="assets/images/completed-projects.svg"/>-->
<!--      </div>-->
<!--    </a>-->
<!--  </div>-->
<!--  <div class="col-sm-3">-->
<!--    <a class="info-box box-style" style="background: #003554">-->
<!--      <div class="box-top">-->
<!--        <h2>{{onHoldProjects > 0 ? onHoldProjects : 0}}</h2>-->
<!--        <h4>On Hold Projects</h4>-->
<!--      </div>-->
<!--      <div class="box-icon">-->
<!--        <img alt="icon" src="assets/images/on-hold-projects.svg"/>-->
<!--      </div>-->
<!--    </a>-->
<!--  </div>-->
<!--</div>-->
