<div class="form-page" style="background-image: url(assets/images/login-bg-pattern.png);">
  <!-- <div class="form-page-pattern">
      <img class="top-pattern" src="assets/images/login-pattern.png" alt="pattern image"/>
      <img class="bottom-pattern" src="assets/images/login-pattern.png" alt="pattern image"/>
  </div> -->
  <div class="form-page-content">
    <div class="row m-0 h-100">
        <div class="col-sm-8 form-page-side" style="background-image: url(assets/images/login-banner.png);min-width: 300px;">
        </div>
        <div class="col-sm-4 form-content d-flex align-items-center justify-content-center">
            <!-- <h1><img src="./assets/images/loginLogo.svg" alt="icon"/></h1> -->
            <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" name="loginForm" novalidate>
                <h1>Business Management System</h1>
                <div class="form-wrapper">
                    <div class="form-title">
                        <h3>Login</h3>
                        <p>Access to your Account</p>
                    </div>
                    <div class="form-field">
                        <mat-form-field appearance="outline" class="element-full-width">
                            <mat-label>Enter Email Address</mat-label>
                            <input formControlName="email" id="email" matInput maxlength="50" name="email" type="email">
                            <mat-error *ngIf="loginForm.controls.email.errors?.required">Email Address is required!</mat-error>
                            <mat-error *ngIf="loginForm.controls.email.errors?.email">Please enter a valid Email Address.</mat-error>
                            <mat-icon matSuffix>mail_outline</mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="form-field">
                        <mat-form-field appearance="outline" class="element-full-width">
                            <mat-label>Password</mat-label>
                            <input (keydown)="space($event)" formControlName="password" matInput name="password" type="password">
                            <mat-error *ngIf="loginForm.controls.password.errors?.required" >
                                Password is required!
                            </mat-error>
                            <mat-icon matSuffix>lock</mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="remember-forgot">
                        <mat-checkbox class="remember-check" formControlName="isRemberMeChecked">Remember Me</mat-checkbox>
<!--                        <a class="forgot-link" routerLink="/forgot-password">Forgot Password?</a>-->
                    </div>
                    <div class="form-btn">
                        <button class="full-btn" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
  </div>
</div>
