
.pdf-viewer {
  height: 500px;
  width: 100%;
}

// infnite scroller
.search-results {
  list-style: none;
  margin: 0;
  max-height: calc(100vh - 220px);
  overflow: auto;
  padding: 0;
 }
.hover-effect-menu:hover button.mat-menu-item:first-child {
  top: 25px;
  left: 10px;
  transition-delay: .3s
}

.hover-effect-menu:hover button.mat-menu-item:nth-child(2) {
  top: 60px;
  left: 48px;
  transition-delay: .4s
}

.hover-effect-menu:hover button.mat-menu-item:nth-child(3) {
  top: 115px;
  left: 45px;
  transition-delay: .4s
}

.hover-effect-menu:hover button.mat-menu-item:nth-child(4) {
  top: 150px;
  left: 10px;
  transition-delay: .4s
}

.hover-half-round-two button {
  background: none;
  position: absolute;
  left: -10px;
  top: -8px;
  font-size: 25px;
  color: #fff;

  &:hover {
    color: #F8FF59;
  }
}

.hover-half-round-two button:nth-child(2) {
  left: 22px;
  top: 20px;
  -webkit-animation: fade-in-fwd 1s cubic-bezier(.39, .575, .565, 1.000) both;
  animation: fade-in-fwd 1s cubic-bezier(.39, .575, .565, 1.000) both;
}
