<div class="form-page" style="background-image: url(../../../assets/images/login-bg-pattern.png);">
    <div class="form-page-content">
      <div class="row  m-0 h-100">
          <div class="col-sm-8 form-page-side" style="background-image: url(../../../assets/images/login-banner.png);min-width: 300px;">
          </div>
          <div class="col-sm-4 form-content d-flex align-items-center justify-content-center">
              <button (click)="backClicked();" class="back-btn"><span class="material-icons">keyboard_backspace</span>Back</button>
              <form #myform="ngForm" (ngSubmit)="OnResetPass()" [formGroup]="resetPasswordForm" name="resetPassword" novalidate>
                <h1>Business Management System</h1>
                  <div class="form-wrapper">
                      <div class="form-title">
                          <h3>Reset Password</h3>
                          <p>Please create a new password.</p>
                      </div>
                      <div class="form-field">
                          <mat-form-field appearance="outline" class="element-full-width">
                              <mat-label>New Password</mat-label>
                              <input (keydown)="space($event)" formControlName="newPassword" matInput name="newPassword" required type="password">
                              <mat-error *ngIf="resetPasswordForm.controls.newPassword.errors?.required" >
                              Enter your new Password is required! .
                          </mat-error>
                              <mat-icon matSuffix>lock</mat-icon>
                          </mat-form-field>
                      </div>
                      <div class="form-field">
                          <mat-form-field appearance="outline" class="element-full-width">
                              <mat-label>Confirm Password</mat-label>
                              <input (keydown)="space($event)" formControlName="confirmPassword" matInput name="confirmPassword" required type="password">
                              <mat-error *ngIf="resetPasswordForm.controls.confirmPassword.errors?.required" >
                              confirm your Password is required! .
                          </mat-error>
                          <mat-error *ngIf="checkIfMatchingPasswords('notEquivalent','')">
                              Your Password does't Match
                          </mat-error>
                              <mat-icon matSuffix>lock</mat-icon>
                          </mat-form-field>
                      </div>
                      <div class="form-btn">
                          <button class="full-btn" type="submit" >Submit</button>
                      </div>
                  </div>
              </form>
          </div>
      </div>
    </div>
</div>
