<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,300,0,0"
      rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,1,0"
      rel="stylesheet"/>
<section class="dashboard-content">
    <div class="table-content box-style m-0 p-0">
        <div class="table-heading box-style-breadcrumb p-4">
            <a><h3 style="font-weight: 500;cursor: default">Holidays Management</h3></a>
            <div *ngIf="userRole === 'HRMANAGERS' " class="search-form-wrapper">
                <button class="btn-style red-btn" routerLink="/holidays-management/add-edit-holidays/0"><span
                        class="material-icons">add</span>Add Holidays
                </button>
            </div>
        </div>
        <div>
            <table [dataSource]="dataSource" mat-table matSort matSortDisableClear
                   style="width: 100%">
                <!--Action Column-->
                <ng-container matColumnDef="action2">
                    <th *matHeaderCellDef mat-header-cell style="width: 5%">
                        <div class=" th-header d-flex align-items-center text-left">
                            Action
                        </div>
                    </th>
                    <td *matCellDef="let element;index as i;" mat-cell style="width: 5%">

                        <div class="hover-effect-menu">
                            <!--              <span class="material-icons short-arrow" (mouseover)='over()' (mouseout)='out()'>more_horiz</span>-->
                            <span class="material-icons short-arrow">more_horiz</span>
                            <div class="hover-half-round-two">
                                <div class="quarter-circle">
                                    <button (click)="editHolidays(element.holidayId)"
                                            class="material-icons mat-menu-item mat-menu-delete"
                                            matTooltip="Details"
                                            matTooltipClass='tooltip-color'
                                            tabindex="0">
                                        drive_file_rename_outline
                                    </button>
                                    <button (click)="deleteHoliday(element.holidayId)"
                                            class="material-icons mat-menu-item mat-menu-web"
                                            matTooltip="Cancel-Leave"
                                            matTooltipClass='tooltip-color'
                                            tabindex="0">
                                        delete
                                    </button>
                                    <div class="quarter-circle-nested"></div>
                                </div>
                            </div>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="holidayName">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header style="width: 15%">
                        <div class="th-header d-flex align-items-center text-left">
                            Holidays
                        </div>
                    </th>
                    <td *matCellDef="let element" class="text-capitalize" mat-cell>
                        {{element.holidayName}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="holidayDate">
                    <th *matHeaderCellDef mat-header-cell>
                        <div class="th-header d-flex align-items-center text-left">
                            Date
                        </div>
                    </th>
                    <td *matCellDef="let element" class="text-capitalize"
                        mat-cell> {{element.holidayDate | date:'dd/MM/yyyy'}} </td>
                </ng-container>
                <ng-container matColumnDef="holidayDay">
                    <th *matHeaderCellDef mat-header-cell>
                        <div class="th-header d-flex align-items-center text-left">
                            day
                        </div>
                    </th>
                    <td *matCellDef="let element" class="text-capitalize"
                        mat-cell> {{element.holidayDate | date:'EEEE'}} </td>
                </ng-container>
                <tr *matHeaderRowDef="holidaysColumns;sticky:true" mat-header-row></tr>
                <tr (click)="selection.toggle(row)" *matRowDef="let row; columns: holidaysColumns;" mat-row></tr>
                <!-- Row shown when there is no matching data. -->
                <tr *matNoDataRow class="mat-row">
                    <td class="mat-cell text-center" colspan="10">Data Not Available</td>
                </tr>
            </table>
        </div>
        <!--[length]="meta"-->
        <mat-paginator
                (page)="pageChange($event)"
                [length]="meta"
                [pageSizeOptions]="pageSizeOptions"
                [pageSize]="perPage"
                aria-label="Select page of periodic elements"
                showFirstLastButtons="true">
        </mat-paginator>
    </div>
</section>

