<section class="dashboard-content">
	<h2>Project Management</h2>
	<div class="row">
		<div class="col-sm-3">
			<div class="info-box box-style"
			     style="background-color: #999;background-image: url('../../../../assets/images/total-project-assign-iconbg.png');">
				<div class="box-top">
					<h2>{{dashboardData.TotalProjects}}</h2>
					<h4>Total Project Assign</h4>
				</div>
				<div class="box-icon">
					<img alt="icon" src="../../../../assets/images/leave-icon.svg"/>
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="info-box box-style"
			     style="background-color: #999;background-image: url('../../../../assets/images/in-progress-project-icon-bg.png');">
				<div class="box-top">
					<h2>{{dashboardData.InProgressProjects}}</h2>
					<h4>Project In Progress From Assign</h4>
				</div>
				<div class="box-icon">
					<img alt="icon" src="../../../../assets/images/birthday-icon.svg"/>
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="info-box box-style"
			     style="background-color: #999;background-image: url('../../../../assets/images/project-completed-assign-icon-bg.png');">
				<div class="box-top">
					<h2>{{dashboardData.CompletedProjects}}</h2>
					<h4>Project Completed From Assign</h4>
				</div>
				<div class="box-icon">
					<img alt="icon" src="../../../../assets/images/work-anniversary-icon.svg"/>
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="info-box box-style"
			     style="background-color: #999;background-image: url('../../../../assets/images/on-hold-project-icon-bg.png');">
				<div class="box-top">
					<h2>{{dashboardData.OnHoldProjects}}</h2>
					<h4>On Hold Project From Assign</h4>
				</div>
				<div class="box-icon">
					<img alt="icon" src="../../../../assets/images/total-employees-icon.svg"/>
				</div>
			</div>
		</div>
	</div>
</section>
