
$size: 65px;
.hover-half-round-three button {
  background: none;
  color: #fff;
  font-size: 25px;
  left: -15px;
  position: absolute;
  top: -10px;

  &:hover {
    color: #F8FF59;
  }
}

.hover-half-round-three button:nth-child(2) {
  -webkit-animation: fade-in-fwd 1s cubic-bezier(.39, .575, .565, 1.000) both;
  animation: fade-in-fwd 1s cubic-bezier(.39, .575, .565, 1.000) both;
  left: 13px;
  top: 13px;
}

.hover-half-round-three button:nth-child(3) {
  -webkit-animation: fade-in-fwd 1s cubic-bezier(.39, .575, .565, 1.000) both;
  animation: fade-in-fwd 1s cubic-bezier(.39, .575, .565, 1.000) both;
  left: 38px;
  top: 38px;
}

$size: 65px;
.hover-half-round-two button {
  background: none;
  position: absolute;
  left: -10px;
  top: -8px;
  font-size: 25px;
  color: #fff;

  &:hover {
    color: #F8FF59;
  }

  &:hover {
    color: #F8FF59;
  }
}

.hover-half-round-two button:nth-child(2) {
  left: 22px;
  top: 20px;
  -webkit-animation: fade-in-fwd 1s cubic-bezier(.39, .575, .565, 1.000) both;
  animation: fade-in-fwd 1s cubic-bezier(.39, .575, .565, 1.000) both;
}