<h2 class="mt-4">User Management</h2>
<div class="row">
	<div class="col-sm-3">
		<div class="info-box box-style"
		     style="background-color: #F56954;background-image: url('../../../assets/images/admin-user-icon-bg.png');">
			<div class="box-top">
				<h2>{{userManagement?.AdminUsers}}</h2>
				<h4>Admin User</h4>
			</div>
			<div class="box-icon">
				<img alt="icon" src="assets/images/admin-user.svg"/>
			</div>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="info-box box-style"
		     style="background-color: #00A65A;background-image: url('assets/images/sales-managers-icon-bg.png');">
			<div class="box-top">
				<h2>{{userManagement?.SalesManagers}}</h2>
				<h4>Sales Managers</h4>
			</div>
			<div class="box-icon">
				<img alt="icon" src="assets/images/sales-manager.svg"/>
			</div>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="info-box box-style"
		     style="background-color: #00C0EF;background-image: url('assets/images/hr-manager-icon-bg.png');">
			<div class="box-top">
				<h2>{{userManagement?.HrManagers}}</h2>
				<h4>HR Managers</h4>
			</div>
			<div class="box-icon">
				<img alt="icon" src="assets/images/hr-manager.svg"/>
			</div>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="info-box box-style"
		     style="background-color: #0073B7;background-image: url('assets/images/project-manager-icon-bg.png');">
			<div class="box-top">
				<h2>{{userManagement?.ProjectManagers}}</h2>
				<h4>Project Managers</h4>
			</div>
			<div class="box-icon">
				<img alt="icon" src="assets/images/project-managers.svg"/>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-3">
		<div class="info-box box-style"
		     style="background-color: #73C8FF;background-image: url('../../../assets/images/team-leader-icon-bg.png');">
			<div class="box-top">
				<h2>{{userManagement?.TeamLeaders}}</h2>
				<h4>Team Leaders</h4>
			</div>
			<div class="box-icon">
				<img alt="icon" src="assets/images/team-leaders.svg"/>
			</div>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="info-box box-style"
		     style="background-color: #FE5C58;background-image: url('assets/images/team-members-icon-bg.png');">
			<div class="box-top">
				<h2>{{userManagement?.TeamMembers}}</h2>
				<h4>Team Members</h4>
			</div>
			<div class="box-icon">
				<img alt="icon" src="assets/images/team-members.svg"/>
			</div>
		</div>
	</div>
</div>
