<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,300,0,0"
      rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,1,0"
      rel="stylesheet"/>
<section class="dashboard-content">
    <div class="table-content box-style m-0 p-0">
        <div class="table-heading box-style-breadcrumb p-4">
	        <a><h3 style="font-weight: 500;cursor: default">Department Management</h3></a>
            <div class="search-form-wrapper">
                <!--Search-->
                <div class="search-form">
                    <span class="material-icons">search</span>
                    <input #input #searchString (keydown)="space($event)" (keyup)="applyFilter($event)"  placeholder="Search Department" type="text">
                    <span #clearString (click)="clearSearch()" *ngIf="isVisible"
                          class="closeIcon material-icons">clear</span>
                </div>
                <!--Search-->
                <!--Add Employee Button-->
                <button class="btn-style red-btn"  routerLink="/department-management/add-edit-department/0"><span class="material-icons">add</span>Add Department</button>
            </div>
        </div>
        <div>

            <app-data-table (delete)="deleteDepartment($event.departmentId)" (edit)="editDepartment($event.departmentId)" (view)="detailDepartment($event.departmentId)" [columns]="columns" [data]="departmentList" [deleteOn]="true" [editOn]="true" [headers]="headers" [icons]="'three'" [viewOn]="true" ></app-data-table>

<!--            <table  [dataSource]="dataSource" mat-table matSort matSortDisableClear-->
<!--                   style="width: 100%">-->
<!--                &lt;!&ndash;Action Column&ndash;&gt;-->
<!--                <ng-container matColumnDef="action2">-->
<!--                    <th *matHeaderCellDef mat-header-cell style="width: 5%">-->
<!--                        <div class=" th-header d-flex align-items-center text-left">-->
<!--                            Action-->
<!--                        </div>-->
<!--                    </th>-->
<!--                    <td *matCellDef="let element;index as i;" mat-cell style="width: 5%">-->
<!--                        <div class="hover-effect-menu three-icon">-->
<!--                            <span class="material-icons short-arrow">more_horiz</span>-->
<!--                            <div class="hover-half-round-three">-->
<!--                                <div class="quarter-circle">-->
<!--                                    <button (click)="editDepartment(element.departmentId)"-->
<!--                                            class="material-icons mat-menu-item"-->
<!--                                            matTooltip="Edit"-->
<!--                                            matTooltipClass='tooltip-color'-->
<!--                                            tabindex="0">-->
<!--                                        drive_file_rename_outline-->
<!--                                    </button>-->
<!--                                    <button (click)="deleteDepartment(element.departmentId)"-->
<!--                                            class="material-icons mat-menu-item"-->
<!--                                            matTooltip="Delete"-->
<!--                                            matTooltipClass='tooltip-color'-->
<!--                                            tabindex="0">-->
<!--                                        delete-->
<!--                                    </button>-->
<!--                                    <button (click)="detailDepartment(element.departmentId)"-->
<!--                                            class="material-icons mat-menu-item"-->
<!--                                            matTooltip="Detail"-->
<!--                                            matTooltipClass='tooltip-color'-->
<!--                                            tabindex="0">web-->
<!--                                    </button>-->
<!--                                    <div class="quarter-circle-nested"></div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </td>-->
<!--                </ng-container>-->
<!--                <ng-container matColumnDef="title">-->
<!--                    <th (click)="sortingData('departmentTitle', sortBy)"  *matHeaderCellDef mat-header-cell mat-sort-header style="width: 15%">-->
<!--                        <div class="th-header d-flex align-items-center text-left">-->
<!--                           Department Title  <span [ngClass]="{'down': sortBy === -1 && sortKey === 'departmentTitle', 'up': sortBy === 1 && sortKey === 'departmentTitle'}"></span>-->
<!--                        </div>-->
<!--                    </th>-->
<!--                    <td *matCellDef="let element" class="text-capitalize" mat-cell>-->
<!--                        {{element.departmentTitle}}-->
<!--                    </td>-->
<!--                </ng-container>-->
<!--                <ng-container matColumnDef="accessModule">-->
<!--                    <th *matHeaderCellDef mat-header-cell>-->
<!--                        <div class="th-header d-flex align-items-center text-left">-->
<!--                            Access Module-->
<!--                        </div>-->
<!--                    </th>-->
<!--                    <td *matCellDef="let element" class="text-capitalize" mat-cell> {{element.accessModule}} </td>-->
<!--                </ng-container>-->
<!--                <tr *matHeaderRowDef="departmentColumns;sticky:true" mat-header-row></tr>-->
<!--                <tr (click)="selection.toggle(row)" *matRowDef="let row; columns: departmentColumns;" mat-row></tr>-->
<!--                &lt;!&ndash; Row shown when there is no matching data. &ndash;&gt;-->
<!--                <tr *matNoDataRow class="mat-row">-->
<!--                    <td class="mat-cell text-center" colspan="10">Data Not Available</td>-->
<!--                </tr>-->
<!--            </table>-->
        </div>
<!--[length]="meta"-->
        <mat-paginator
                (page)="pageChange($event)"
                [length]="meta"
                [pageSizeOptions]="pageSizeOptions"
                [pageSize]="perPage"
                aria-label="Select page of periodic elements"
                showFirstLastButtons="true">
        </mat-paginator>
    </div>
</section>

