<section class="dashboard-content">
  <div class="table-content box-style">
    <div class="table-heading box-style-breadcrumb p-4">
      <h3 *ngIf="adminRole !== 'SUPERADMINS'" style="font-weight: 700">Important Document</h3>
      <h3 *ngIf="adminRole === 'SUPERADMINS'" style="font-weight: 700">Document Management</h3>

      <div class="search-form-wrapper">


        <div class="search-form">
          <span class="material-icons">search</span>
          <input #searchBox #searchString (keydown)="space($event)" (keyup)="applyFilter($event)" [(ngModel)]="search" placeholder="Search document" type="text">
          <span #clearString (click)="resetSearch()" *ngIf="this.search != '' "
                class="closeIcon material-icons">clear</span>
        </div>
   <!--     <div class="search-form">
          <span class="material-icons">search</span>
          <input type="text" [(ngModel)]="search" (keyup)="onKeyUp($event) "placeholder="Search" #searchBox >
          <span *ngIf="this.search != '' " class="closeIcon material-icons"
                (click)="resetSearch()">clear</span>
         &lt;!&ndash; <span class="material-icons">search</span>
          <input (keyup)="onKeyUp($event)" #searchBox  placeholder="Search"/>&ndash;&gt;
        </div>-->
    </div>
    </div>
      <table (matSortChange)="sortData($event)" [dataSource]="documentDataSource" mat-table  matSort matSortDisableClear
             style="width: 100%">
        <!--Action Column-->
        <ng-container matColumnDef="action2">
          <th *matHeaderCellDef mat-header-cell>
              <div class=" th-header d-flex align-items-center text-left">
                  Action
              </div>
          </th>
          <td *matCellDef="let element;index as i;" mat-cell>
            <div class="hover-effect-menu">
<!--                            <span class="material-icons short-arrow" (mouseover)='over()' (mouseout)='out()'>more_horiz</span>-->
              <span class="material-icons short-arrow">more_horiz</span>
              <div class="hover-half-round-two">
                <div class="quarter-circle">
                  <button
                          (click)="documentDownload(element.document,element.documentName)"
                          class="material-icons mat-menu-item"
                          matTooltip="Download"
                          matTooltipClass='tooltip-color'
                          tabindex="0">
                    file_download
                  </button>

                  <button
                          (click)="open(content,element.document)"
                          class="material-icons mat-menu-item mat-menu-web"
                          matTooltip="Detail"
                          matTooltipClass='tooltip-color'
                          tabindex="0">
                    web
                  </button>

                  <!-- for popup model -->
                  <ng-template #content let-modal style="max-width: 800px;">
                    <div class="modal-header document-modal">
                      <h4 class="modal-title" id="modal-basic-title">{{element.documentName}}</h4>
                      <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close" type="button">
                        <img  src="assets/images/cross-icon.svg">
                      </button>
                    </div>
                    <div class="modal-body pdf-viewer-container">
                      <pdf-viewer [autoresize]="true" [original-size]="false" [src]="element.document" class="pdf-viewer"></pdf-viewer>
                    </div>
                    <div class="modal-footer">
                      <button (click)="modal.close({document:element.document,fileName:element.documentName})" class="btn-style black-btn" type="button">Close</button>
                    </div>


                  </ng-template>
                  <div class="quarter-circle-nested"></div>
                </div>
              </div>
            </div>
          </td>
        </ng-container>
        <!--Action Column-->

        <ng-container matColumnDef="documentName" >
          <th *matHeaderCellDef mat-header-cell mat-sort-header >
              <div class=" th-header d-flex align-items-center text-left">
                  Document Name
              </div>
          </th>
          <td *matCellDef="let element" mat-cell style="white-space: nowrap">
            {{ element.documentName ? element.documentName : '-'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="document">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>
              <div class=" th-header d-flex align-items-center text-left">
                  File Name
              </div>
          </th>
          <td *matCellDef="let element" mat-cell style="white-space: nowrap">
            {{ element.document ? element.document.substring(38) : '-'}}
          </td>
        </ng-container>

        <tr *matHeaderRowDef="documentColumns" mat-header-row></tr>
        <tr *matRowDef="let element; columns: documentColumns" mat-row></tr>
        <tr *matNoDataRow class="mat-row">
          <td class="mat-cell text-center" colspan="10">Data Not Available</td>
        </tr>
      </table>
    <mat-paginator
            (page)="pageChange($event)"
            [hidePageSize]="false"
            [length]="meta"
            [pageIndex]="page"
            [pageSizeOptions]="pageSizeOptions"
            [pageSize]="perPage"
            color="warn"
            showFirstLastButtons
    ></mat-paginator>

   <!-- <div *ngIf="documentDataSource && documentDataSource.length == 0" class="text-center">
      <div class="text-muted font-medium-2 p-2">No Data Available</div>
    </div>-->
  </div>
</section>
