<section class="dashboard-content">
  <!-- ------------------------------------------- Sales Management Start ------------------------------------------- -->
  <app-sales-dashboard></app-sales-dashboard>
  <!-- ------------------------------------------- Sales Management End ------------------------------------------- -->
  <!-- ------------------------------------------- User Management Start ------------------------------------------- -->
<!--  <app-user-mgmt></app-user-mgmt>-->
  <!-- ------------------------------------------- User Management End ------------------------------------------- -->
</section>
