<div class="form-page" style="background-image: url(assets/images/login-bg-pattern.png);">
    <div class="form-page-content">
      <div class="row  m-0 h-100">
          <div class="col-sm-8 form-page-side" style="background-image: url(assets/images/login-banner.png);min-width: 300px;">
          </div>
          <div class="col-sm-4 form-content d-flex align-items-center justify-content-center">
              <button (click)="backClicked();" class="back-btn"><span class="material-icons">keyboard_backspace</span>Back</button>
              <form #myform="ngForm" (ngSubmit)="onforgotpassword()" [formGroup]="forgotPasswordForm" name="forgotPassword" novalidate>
                <h1>Business Management System</h1>
                  <div class="form-wrapper" >
                      <div class="form-title">
                          <h3>Forgot Password</h3>
                          <p>Enter your Email ID to reset your password. You will receive an email with instructions on how to reset your password.</p>
                      </div>
                      <div class="form-field">
                          <mat-form-field appearance="outline" class="element-full-width">
                              <mat-label>Enter Email Address</mat-label>
                              <input  (keydown)="space($event)" formControlName="email" id="email" matInput maxlength="50" name="email" type="email">
                              <mat-error *ngIf="forgotPasswordForm.controls.email.errors?.required">Email Address is required!</mat-error>
                              <mat-error *ngIf="forgotPasswordForm.controls.email.errors?.email">Please enter a valid Email Address.</mat-error>
                              <mat-icon matSuffix>mail_outline</mat-icon>
                          </mat-form-field>
                      </div>
                      <div class="form-btn">
                          <button class="full-btn" type="submit">Submit</button>
                      </div>
                  </div>
              </form>
          </div>
      </div>
    </div>
</div>
