<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,300,0,0"
      rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,1,0"
      rel="stylesheet"/>
<section class="dashboard-content">
    <div class="table-content box-style m-0 p-0">
        <div class="table-heading box-style-breadcrumb p-4">
	        <a><h3 style="font-weight: 500">Inventory Report Management</h3></a>
            <div class="search-form-wrapper">
                <div>
                    <!--Lead Status-->
                    <mat-form-field appearance="outline">
                        <mat-select #topp (selectionChange)="filterByLeadStatus(topp.value)" [(ngModel)]="selectedValue" [formControl]="reportsList"
                                    ngModel>
                            <mat-select-trigger>
                                {{reportsList.value}}
                            </mat-select-trigger>
                            <mat-option *ngFor="let report of reportsListing" [value]="report.value">
                                <span style="text-transform: capitalize!important">{{report.name}}</span>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <!--Lead Status-->
                </div>
                <!--Search-->
                <div class="search-form">
                    <span class="material-icons">search</span>
                    <input #input #searchString (keydown)="space($event)" (keyup)="applyFilter($event)"  placeholder="Search Report" type="text">
                    <span #clearString (click)="clearSearch()" *ngIf="isVisible"
                          class="closeIcon material-icons">clear</span>
                </div>
                <!--Search-->
                <!--Add Employee Button-->
<!--                <button class="btn-style red-btn"  routerLink="/department-management/add-edit-department/0"><span class="material-icons">add</span>Report</button>-->
            </div>
        </div>
        <div>
            <table  [dataSource]="dataSource" mat-table matSort matSortDisableClear
                    style="width: 100%">
                <!--Action Column-->
                <ng-container matColumnDef="employeeName">
                    <th (click)="sortingData('userData.fullName', sortBy)" *matHeaderCellDef mat-header-cell mat-sort-header style="width: 15%">
                        <div class="d-flex align-items-center text-left">
                           Employee Name <span [ngClass]="{'down': sortBy === -1 && sortKey === 'userData.fullName', 'up': sortBy === 1 && sortKey === 'userData.fullName'}"></span>
                        </div>
                    </th>
                    <td *matCellDef="let element" class="text-capitalize" mat-cell>
                        {{element.empName}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="inventoryType">
                    <th *matHeaderCellDef mat-header-cell  style="width: 15%">
                        <div class="d-flex align-items-center text-left">
                            Inventory Type
                        </div>
                    </th>
                    <td *matCellDef="let element" class="text-capitalize" mat-cell>
                        {{element.inventoryType}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="title">
                    <th *matHeaderCellDef mat-header-cell  style="width: 15%">
                        <div class="d-flex align-items-center text-left">
                            Report Title
                        </div>
                    </th>
                    <td *matCellDef="let element" class="text-capitalize" mat-cell>
                        {{element.message}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="action">
                    <th *matHeaderCellDef mat-header-cell  style="width: 15%">
                        Report Status
                    </th>
                    <td *matCellDef="let element; let i = index" class="text-center" mat-cell
                        style="max-width: 90px; width: 90px; min-width: 90px">
                        <div  *ngIf="element.reportStatus === 'Open'" class="btn-wrapper">
                            <button (click)="closeReport(element.reportInventoryId)" class="green-color" mat-menu-item>Open</button>
                        </div>
                        <div *ngIf="element.reportStatus === 'Closed'" class="btn-wrapper" >
                            <button class="bg-gray" disabled mat-menu-item>Closed</button>
                        </div>
                    </td>
                </ng-container>
                <tr *matHeaderRowDef="inventoryReportColumns;sticky:true" mat-header-row></tr>
                <tr (click)="selection.toggle(row)" *matRowDef="let row; columns: inventoryReportColumns;" mat-row></tr>
                <!-- Row shown when there is no matching data. -->
                <tr *matNoDataRow class="mat-row">
                    <td class="mat-cell text-center" colspan="10">Data Not Available</td>
                </tr>
            </table>
        </div>
        <mat-paginator
                (page)="pageChange($event)"
                [length]="meta"
                [pageSizeOptions]="pageSizeOptions"
                [pageSize]="perPage"
                aria-label="Select page of periodic elements"
                showFirstLastButtons="true">
        </mat-paginator>
    </div>
</section>

