<section class="dashboard-content">
    <div class="box-style-breadcrumb p-4 actions">
        <!--BreadCrumb-->
        <ul class="breadcrumb">
            <li><a routerLink="/ticket-management" style="color: black; font-weight: 500">Ticket Management</a></li>
            <li class="active" style="color: black; font-weight: 500">{{title}} Ticket</li>
            <!--<li class="pointer-event" routerLink="/sales-management">Lead Management</li>
            <li>{{title}} Lead</li>-->
        </ul>
        <div>
            <button (click)="onSubmit()" class="btn-style red-btn" form="ngForm" type="submit">Save</button>
            <button (click)="backToTicketList()" class="btn-style black-btn" type="button">Back</button>
        </div>
        <!--BreadCrumb-->
    </div>
    <!--<div class="mt-4" color="warn">
      <div class="box-style-breadcrumb mt-4 p-5">-->
    <!--Card-->
    <form [formGroup]="addEditTicketForm" id="ngForm" name="addEditTicketForm">
        <div class="box-style-breadcrumb mt-4 p-5">
            <div class="form-main">
                <div class="page-name">
                    <h2>{{title}} Ticket</h2>
                    <div class="requiredField"><span>*</span> Indicates a required field</div>
                </div>
                <div class="form-row-wrapper">
                    <div class="row">
                        <div class="form-field col-6">
                            <mat-form-field appearance="outline" class="element-full-width">
                                <mat-label>Urgency</mat-label>
                                <mat-select formControlName="urgency" matNativeControl required>
                                    <mat-option value="High">High</mat-option>
                                    <mat-option value="Medium">Medium</mat-option>
                                    <mat-option value="Low">Low</mat-option>
                                </mat-select>
                                <mat-error *ngIf="addEditTicketForm.controls.urgency.errors?.required">Urgency is
                                    required!
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="form-field col-6">
                            <mat-form-field appearance="outline" class="element-full-width">
                                <mat-label>Subject</mat-label>
                                <input (keydown)="space($event)" (keyup)="helper.spaceTrim($event)"
                                       formControlName="subject" matInput maxlength="100" required
                                       type="text"/>
                                <mat-error *ngIf="addEditTicketForm.controls.subject.errors?.required">Subject is
                                    required!
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <!--                        <div class="form-field">-->
                        <div class="col-12">
                            <mat-form-field appearance="outline" class="element-full-width">
                                <mat-label>Message</mat-label>
                                <textarea (keydown)="space($event)" (keyup)="helper.spaceTrim($event)"
                                          formControlName="message" matInput
                                          maxlength="300" required></textarea>
                                <mat-error *ngIf="addEditTicketForm.controls.message.errors?.required">Message is
                                    required!
                                </mat-error>
                            </mat-form-field>
                            <!--                        </div>-->
                        </div>
                        <div class="col-sm-12">
                            <h4 style="font-size: 18px">Upload File</h4>
                            <div class="generate-button">
                                <button class="btn-style red-btn file-upload-button" type="button">
                                    <span class="material-icons">upload</span>
                                    Drag and Drop here <br/>
                                    Or <br/>
                                    Browse File
                                    <input #myInput (change)="onFileChanged($event)"
                                           accept="image/png,image/jpg,image/jpeg,image/svg"
                                           id="file" type="file"
                                    />
                                </button>
                                <span class="file-info">{{ documentName }}
                                    <span (click)="resetCoverValue()"
                                          class="material-icons close-icon">{{ documentName ? "close" : null}}
									</span>
								</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="documentName" class="form-footer box-style-breadcrumb mt-3 p-3">
            <ng-template #content let-modal>
                <div class="modal-header document-modal">
                    <h4 class="modal-title" id="modal-basic-title">{{documentName}}</h4>
                    <div (click)="modal.dismiss('Cross click')" aria-label="Close" class="close"
                         type="button">
                        <img src="assets/images/cross-icon.svg">
                    </div>
                </div>
                <div class="modal-body">
                    <!-- <pdf-viewer [autoresize]="true" [original-size]="false" [src]="imagePreview"
                                 class="pdf-viewer"></pdf-viewer>-->
                    <img [src]="image" style="width: 100%; height: 100%;">
                </div>
                <div class="modal-footer">
                    <button (click)="modal.close({document:imagePreview,fileName:docRefName})"
                            class="btn-style black-btn" type="button">Close
                    </button>
                </div>
            </ng-template>
            <button (click)="previewImage(content,documentName)" class="btn-style red-btn"
                    type="button">preview
            </button>
        </div>
    </form>
</section>
