// $theme_color : #1563b5;
$theme_color : #fe5c58;
$theme_color_shade : rgba($theme_color, 0.70);
$theme_color_light : rgba($theme_color, 0.13);

$blue_color_custom      : #1083ff;
$yellow_color_custom    :  #ffb061;
$green_color_custom    :  #4fc65b;
$red_color_custom    :  #fe6662;