<section class="dashboard-content leave-manage">
    <div class="table-content box-style">
        <div class="box-style-breadcrumb p-4 mb-3">
            <div class="table-heading " style="display: flex; justify-content: space-between" >
                <div>
                    <a><h3 style="font-weight: 500; cursor: default">Leave Management</h3></a>
                </div>
                <div class="search-form-wrapper">
                <div style="display: flex;" >
                        <div class="search-form search-right">
                            <span class="material-icons">search</span>
                            <input #searchString (keydown)="space($event)" (keyup)="onKeyUp($event)" placeholder="Search"/>
                            <span (click)="clearSearch($event)" *ngIf="isVisible"
                                  class="closeIcon material-icons">clear</span>
                        </div>
                    <div>
                    <button class="btn-style red-btn" routerLink="apply-leave/">Apply Leave</button>
                </div>
                    </div>

                </div>
            </div>
            <div class="search-form-wrapper">
                <div div-wrapper>
                    <form [formGroup]="filterOwnLeaveDetailForm" name="filterempDetail" novalidate>
                        <div style="display: flex;">
                            <mat-form-field appearance="outline" class="element-full-width single-form-field ">
                                <mat-label>Leave Type :</mat-label>
                                <mat-select formControlName="leaveType" maxlength="150" name="leaveType" >
                                    <mat-option *ngFor="let leaveTypes of leaveType" [value]="leaveTypes.value">
                                        {{ leaveTypes.value}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="element-full-width">
                                <mat-label>From Date</mat-label>
                                <input (click)="fromDate.open()" [matDatepicker]="fromDate" [max]="filterOwnLeaveDetailForm.value.toDate" autocomplete="off" formControlName="fromDate" matInput
                                       name="fromDate" />
                                <mat-datepicker-toggle [for]="fromDate" matSuffix></mat-datepicker-toggle>
                                <mat-datepicker #fromDate disabled="false"></mat-datepicker>
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="element-full-width">
                                <mat-label>To Date</mat-label>
                                <input (click)="toDate.open()" [matDatepicker]="toDate" [min]="filterOwnLeaveDetailForm.value.fromDate"
                                       autocomplete="off" formControlName="toDate" matInput
                                       name="toDate" >
                                <mat-datepicker-toggle [for]="toDate" matSuffix></mat-datepicker-toggle>
                                <mat-datepicker #toDate></mat-datepicker>
                            </mat-form-field>
                            <button (click)="onfilterOwnLeaveDetail()" [disabled]="filterOwnLeaveDetailForm.pristine" class="btn-style red-btn" type="submit">Go</button>
                            <button (click)="clearLeaveFilters()" [disabled]="filterOwnLeaveDetailForm.pristine" class="btn-style black-btn" type="reset">Reset Filter</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="table-wrapper resource-color-table">
<!--            <table [dataSource]="leaveDataSource" mat-table matSort style="width: 100%">-->
<!--                <ng-container matColumnDef="action2">-->
<!--                    <th *matHeaderCellDef mat-header-cell style="width: 5%">-->
<!--                        <div class=" th-header d-flex align-items-center text-left">-->
<!--                            Action-->
<!--                        </div>-->
<!--                    </th>-->
<!--                    <td *matCellDef="let element;index as i;" mat-cell>-->
<!--                        <div class="hover-effect-menu">-->
<!--                            &lt;!&ndash;              <span class="material-icons short-arrow" (mouseover)='over()' (mouseout)='out()'>more_horiz</span>&ndash;&gt;-->
<!--                            <span class="material-icons short-arrow">more_horiz</span>-->
<!--                            <div class="hover-half-round-two">-->
<!--                                <div class="quarter-circle">-->
<!--                                    <button (click)="leaveDetail(element.leaveId)"-->
<!--                                            class="material-icons mat-menu-item mat-menu-delete"-->
<!--                                            matTooltip="Details"-->
<!--                                            matTooltipClass='tooltip-color'-->
<!--                                            tabindex="0">-->
<!--                                        web-->
<!--                                    </button>-->
<!--                                    <button (click)="cancelLeave(element.leaveId)" [disabled]="element.fromDate <= todayDate || element.leaveStatus != 'Pending'"-->
<!--                                            class="material-icons mat-menu-item mat-menu-web"-->
<!--                                            matTooltip="Cancel-Leave"-->
<!--                                            matTooltipClass='tooltip-color'-->
<!--                                            tabindex="0">cancel-->
<!--                                    </button>-->
<!--                                    <div class="quarter-circle-nested"></div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </td>-->
<!--                </ng-container>-->
<!--                <ng-container matColumnDef="leaveType">-->
<!--                    <th *matHeaderCellDef mat-header-cell>-->
<!--                        <div class=" th-header d-flex align-items-center text-left">-->
<!--                            Leave Type-->
<!--                        </div>-->
<!--                    </th>-->
<!--                    <td *matCellDef="let element" mat-cell style="white-space: nowrap">-->
<!--                        {{ element.leaveType }}-->
<!--                    </td>-->
<!--                </ng-container>-->
<!--                <ng-container matColumnDef="leaveDuration">-->
<!--                    <th *matHeaderCellDef mat-header-cell>-->
<!--                        <div class=" th-header d-flex align-items-center text-left">-->
<!--                            Duration-->
<!--                        </div>-->
<!--                    </th>-->
<!--                    <td *matCellDef="let element" mat-cell style="white-space: nowrap">-->
<!--                        {{ element.leaveDuration }}-->
<!--                    </td>-->
<!--                </ng-container>-->
<!--                <ng-container matColumnDef="leaveDurationDetail">-->
<!--                    <th *matHeaderCellDef mat-header-cell>-->
<!--                        <div class=" th-header d-flex align-items-center text-left">-->
<!--                            Duration Detail-->
<!--                        </div>-->
<!--                    </th>-->
<!--                    <td *matCellDef="let element" mat-cell style="white-space: nowrap">-->
<!--                        {{ element.leaveDurationDetail }}-->
<!--                    </td>-->
<!--                </ng-container>-->
<!--                <ng-container matColumnDef="fromDate">-->
<!--                    <th (click)="sortData('fromDate', sortBy)" *matHeaderCellDef mat-header-cell  mat-sort-header>-->
<!--                        <div class="th-header d-flex align-items-center text-left">-->
<!--                            From Date-->
<!--                            <span [ngClass]="{'down': sortBy === -1 && sortKey === 'fromDate', 'up': sortBy === 1 && sortKey === 'fromDate'}">-->
<!--                      </span>-->
<!--                        </div>-->
<!--                    </th>-->
<!--                    <td *matCellDef="let element" mat-cell style="white-space: nowrap">-->
<!--                        {{ element.fromDate | date : "dd/MM/YYYY"  }}-->
<!--                    </td>-->
<!--                </ng-container>-->
<!--                <ng-container matColumnDef="toDate">-->
<!--                    <th (click)="sortData('toDate', sortBy)" *matHeaderCellDef mat-header-cell mat-sort-header>-->
<!--                        <div class="th-header d-flex align-items-center text-left">-->
<!--                            To Date-->
<!--                            <span [ngClass]="{'down': sortBy === -1 && sortKey === 'toDate', 'up': sortBy === 1 && sortKey === 'toDate'}">-->
<!--                      </span>-->
<!--                        </div>-->
<!--                    </th>-->
<!--                    <td *matCellDef="let element" mat-cell style="white-space: nowrap">-->
<!--                        {{ element.toDate | date : "dd/MM/YYYY" }}-->
<!--                    </td>-->
<!--                </ng-container>-->
<!--                <ng-container matColumnDef="totalTakenLeave">-->
<!--                    <th *matHeaderCellDef mat-header-cell>-->
<!--                        <div class=" th-header d-flex align-items-center text-left">-->
<!--                            Total Taken Leave-->
<!--                        </div>-->
<!--                    </th>-->
<!--                    <td *matCellDef="let element" mat-cell style="white-space: nowrap">-->
<!--                        {{ element.totalDays}}-->
<!--                    </td>-->
<!--                </ng-container>-->
<!--                <ng-container matColumnDef="availableBalance">-->
<!--                    <th (click)="sortData('availableBalance', sortBy)" *matHeaderCellDef mat-header-cell mat-sort-header>-->
<!--                        <div class=" th-header d-flex align-items-center text-left">-->
<!--                            Available Balance<span [ngClass]="{'down': sortBy === -1 && sortKey === 'availableBalance', 'up': sortBy === 1 && sortKey === 'availableBalance'}"></span>-->
<!--                        </div>-->
<!--                    </th>-->
<!--                    <td *matCellDef="let element" mat-cell style="white-space: nowrap">-->
<!--                       {{ element.availableBalance }}-->
<!--                    </td>-->
<!--                </ng-container>-->
<!--                <ng-container matColumnDef="leaveStatus">-->
<!--                    <th *matHeaderCellDef mat-header-cell>-->
<!--                        <div class=" th-header d-flex align-items-center text-left">-->
<!--                            Leave-Status-->
<!--                        </div></th>-->
<!--                    <td *matCellDef="let element" [ngClass]="{'Pending': element.leaveStatus === 'Pending' , 'Rejected' : element.leaveStatus === 'Rejected' ,'Cancelled' :  element.leaveStatus === 'Cancelled' }" class="Approved" mat-cell-->
<!--                        style="white-space: nowrap">-->
<!--                        {{element.leaveStatus}}-->
<!--                    </td>-->
<!--                </ng-container>-->
<!--                <tr *matHeaderRowDef="leaveColumns" mat-header-row></tr>-->
<!--                <tr *matRowDef="let element; columns: leaveColumns" mat-row></tr>-->
<!--                <tr *matNoDataRow class="mat-row">-->
<!--                    <td class="mat-cell text-center" colspan="10">Data Not Available</td>-->
<!--                </tr>-->
<!--            </table>-->

            <app-data-table (cancel)="cancelLeave($event.leaveId)" (view)="leaveDetail($event.leaveId)" [cancelOn]="true" [columns]="columns" [data]="leaveData" [dateFields]="dateFields" [headers]="headers" [icons]="'two'" [viewOn]="true"></app-data-table>

        </div>
        <!--<div *ngIf="leaveDataSource && leaveDataSource.length == 0" class="text-center">
            <div class="text-muted font-medium-2 p-2">No Data Available</div>
        </div>-->
        <mat-paginator
                (page)="pageChange($event)"
                [hidePageSize]="false"
                [length]="meta"
                [pageIndex]="page"
                [pageSizeOptions]="pageSizeOptions"
                [pageSize]="perPage"
                color="warn"
                showFirstLastButtons
        ></mat-paginator>
    </div>
</section>
