<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
      rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
      rel="stylesheet"/>
<section class="dashboard-content">
  <div class="box-style-breadcrumb p-4">
    <div class="form-top d-flex justify-content-between align-items-center">
      <!--BreadCrumb-->
      <ul class="breadcrumb">
	      <li><a (click)="backToInquiry()" style="color: black; font-weight: 500">Inquiry Management</a></li>
	      <li class="active" style="color: black; font-weight: 500">{{serviceType}}</li>
        <!--<li routerLink="/inquiry">Inquiry Management</li>
        <li class="active">{{serviceType}}</li>-->
      </ul>
      <!--BreadCrumb-->
      <div class="btn-wrapper btn-wrapper-width">
        <button (click)="deleteItem()" class="btn-style red-btn">Delete</button>
	      <button (click)="backToInquiry()" class="btn-style black-btn">Back</button>
      </div>
    </div>
  </div>

  <!--Tabs-->
  <mat-tab-group class="mt-4" color="warn" dynamicHeight>
    <!-- ----------------------------------------------------Inquiry Detail---------------------------------------------------- -->
    <div>
      <mat-tab label="Inquiry Detail">
        <div class="box-style mt-4 p-5">
          <!--Card-->
          <div class="leadBox bg-gray mt-5">
            <div class="card bg-transparent border-0">
              <div class="card-body">
                <div class="leadOption">
                  <!--                  <div class="rounds">-->
                  <!--                    <span class="material-symbols-outlined">event_note</span>-->
                  <!--                  </div>-->
                  <div class="block">
                    <span class="label">Service Type</span>
                    <div class="text-weight mt-2 field">{{serviceType}}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card bg-transparent border-0">
              <div class="card-body">
                <div class="leadOption">
                  <!--                  <div class="rounds">-->
                  <!--                    <span class="material-symbols-outlined">face_2</span>-->
                  <!--                  </div>-->
                  <div class="block">
                    <span class="label">Full Name</span>
                    <div class="text-weight mt-2 field">{{fullName}}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card bg-transparent border-0">
              <div class="card-body">
                <div class="leadOption">
                  <!--                  <div class="rounds">-->
                  <!--                    <span class="material-symbols-outlined">mark_email_unread</span>-->
                  <!--                  </div>-->
                  <div class="block">
                    <span class="label">Email</span>
                    <div class="text-weight mt-2 field">
                      <a href="mailto:{{email}}">{{email}}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card bg-transparent border-0">
              <div class="card-body">
                <div class="rounds"></div>
                <div class="leadOption">
                  <!--                  <div class="rounds">-->
                  <!--                    <span class="material-symbols-outlined">call</span>-->
                  <!--                  </div>-->
                  <div class="block">
                    <span class="label">Contact No</span>
                    <div class="text-weight mt-2 field">{{contactNo}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="leadBox mt-4">
            <div class="card new-card bg-transparent border-0">
              <div class="card-body">
                <div class="leadOption">
                  <!--                  <div class="rounds">-->
                  <!--                    <span class="material-symbols-outlined">import_contacts</span>-->
                  <!--                  </div>-->
                  <div class="block">
                    <span class="label">Additional Information</span>
                    <div class="text-weight mt-2 field">{{additionalInfo}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Card-->
        </div>
      </mat-tab>
    </div>
    <!-- ----------------------------------------------------Inquiry Detail---------------------------------------------------- -->
    <!-- ------------------------------------------------------------Document------------------------------------------------------------ -->
    <div>
      <mat-tab *ngIf="documents !== ''" label="Document">
        <div class="box-style mt-4 p-3">
          <div class="leadBox">
            <div class="card new-card bg-gray">
              <div class="card-body">
                <div class="leadOption">
                  <div class="rounds">
                    <span class="material-symbols-outlined">article</span>
                  </div>
                  <div class="block">
                    <div class="field downloadBtn">
                      <button (click)="downloadFile(documents)" color="warn" mat-raised-button>
                        <span class="material-symbols-outlined">file_download</span>
                        Download File
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </div>
    <!-- ------------------------------------------------------------Document------------------------------------------------------------ -->
  </mat-tab-group>
  <!--Tabs-->
</section>
