.box-style {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 6px rgb(65 65 65 / 10%) !important;
}
.actionBtn{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.material-symbols-outlined{
  font-size: 35px!important;
}

.downloadBtn{
  margin-left: 15px;
  .mat-raised-button{
    padding: 10px 25px;
  }
}
