<table [dataSource]="data" mat-table>
    <tr *matHeaderRowDef="columns; " mat-header-row></tr>
    <tr *matRowDef="let row; columns: columns;" mat-row></tr>
    <ng-container *ngFor="let column of columns ; let i = index ">
        <ng-container [matColumnDef]="column">
            <ng-container *ngIf="column == 'selectAll'">
                <th *matHeaderCellDef mat-header-cell>
                    <mat-checkbox (change)=" $event ? masterToggleEvent($event):null"
                                  [checked]="selection.hasValue() && isAllSelectedCheck"
                                  [indeterminate]="selection.hasValue() && !isAllSelectedCheck">
                    </mat-checkbox>
                </th>
            </ng-container>
            <th *matHeaderCellDef mat-header-cell>
                {{headers[i]}}</th>
            <ng-container *ngIf="column == 'action'">
                <td *matCellDef="let element" mat-cell>

                    <ng-template #content let-modal >
                        <div class="modal-header document-modal">
                            <h4 class="modal-title" id="modal-basic-title">{{element.documentName}}</h4>
                            <div (click)="modal.dismiss('Cross click')" aria-label="Close" class="close"
                                 type="button">
                                <img src="../../../assets/images/cross-icon.svg">
                            </div>
                        </div>
                        <div class="modal-body">
                            <pdf-viewer [autoresize]="true" [original-size]="false" [src]="element.document" class="pdf-viewer"></pdf-viewer>
                        </div>
                        <div class="modal-footer">
                            <button (click)="modal.close({document:element.document,fileName:element.documentName})"
                                    class="btn-style black-btn" type="button">Close
                            </button>
                        </div>
                    </ng-template>

                    <div class="hover-effect-menu {{icons}}-icons">
                        <div class="short-arrow">
                            <span class="material-icons">more_horiz</span>
                        </div>
                        <div class="hover-round-effect">
                            <button (click)="viewDetail(element)" *ngIf="viewOn" mat-menu-item
                                    matTooltip="{{'View Details' }}">
                                <span class="material-icons">remove_red_eye </span>
                            </button>
                            <button (click)="editEvent(element)" *ngIf="editOn" mat-menu-item
                                    matTooltip="{{'Edit Details' }}">
                                <span class="material-icons">drive_file_rename_outline</span>
                            </button>
                            <button (click)="deleteEvent(element)" *ngIf="deleteOn" mat-menu-item
                                    matTooltip="{{'Delete Details' }}">
                                <span class="material-icons">delete</span>
                            </button>
                            <button (click)="changePasswordEvent(element)" *ngIf="changePasswordOn" mat-menu-item
                                    matTooltip="{{'Change Password' }}">
                                <span class="material-icons">https</span>
                            </button>
                            <button (click)="downloadEvent(element)" *ngIf="downloadOn" mat-menu-item
                                    matTooltip="{{'Download' }}">
                                <span class="material-icons">download</span>
                            </button>
                            <button (click)="openEvent(content,element)" *ngIf="openOn" mat-menu-item
                                    matTooltip="{{'open' }}">
                                <span class="material-icons">web</span>
                            </button>
                            <button (click)="cancelEvent(element)" *ngIf="cancelOn" mat-menu-item
                                    matTooltip="{{'Cancel'}}">
                                <span class="material-icons">cancel</span>
                            </button>
                        </div>
                    </div>
            </ng-container>
            <ng-container *ngIf="column == 'selectAll'">
                <td *matCellDef="let element" mat-cell>
                    <mat-checkbox (change)="$event ? selection.toggle(element) : null"
                                  (click)="$event.stopPropagation()"
                                  [checked]="selection.isSelected(element)"></mat-checkbox>
                </td>
            </ng-container>

            <ng-container *ngIf="column == 'status' || column == 'isHotLead' ">
                <td *matCellDef="let element" mat-cell>
                    <mat-slide-toggle (change)="changeEvent($event,element)" *ngIf="column == 'status'"
                                      [checked]="element.status==1" class="button-switch"></mat-slide-toggle>

                    <div *ngIf="column == 'isHotLead'">
                        <div *ngIf="element.leadStatus !== 'won' && element.leadStatus !== 'lost'">
                            <mat-slide-toggle (change)="changeEvent($event,element)" [checked]="element.isHotLead"
                                              class="button-switch"></mat-slide-toggle>
                        </div>
                        <div *ngIf="element.leadStatus == 'won' || element.leadStatus == 'lost'"><span>-</span></div>
                    </div>
                </td>
            </ng-container>

            <ng-container *ngIf="column == 'action2'">
                <td *matCellDef="let element; let i = index" class="text-center" mat-cell>
                    <div *ngIf="element.leaveStatus === 'Pending'" class="btn-wrapper">
                        <button (click)="approveEvent(element.leaveId)" class="material-icons green-color"
                                mat-menu-item matTooltip="Approve Leave">check_circle
                        </button>
                        <button (click)="rejectEvent(element.leaveId)" class="material-icons red-color"
                                mat-menu-item matTooltip="Reject Leave">cancel
                        </button>
                    </div>
                    <div *ngIf="element.leaveStatus !== 'Pending'" [ngClass]="{'Rejected' : element.leaveStatus === 'Rejected' ,'Cancelled' :  element.leaveStatus === 'Cancelled' }" class="btn-wrapper Approved">
                        {{element.leaveStatus}}
                    </div>
                </td>
            </ng-container>

            <ng-container *ngIf="column == 'leaveStatus' || column == 'projectStatus'|| column == 'milestoneStatus' ">
                <td *matCellDef="let element; let i = index ; let headers" [ngClass]="{'Pending': element[column] === 'Pending' || element[column] === 'in progress' , 'Rejected' : element[column] === 'Rejected' || element[column] === 'on hold' ,'Cancelled' :  element[column] === 'Cancelled' }" class="text-center Approved" mat-cell>
                    {{element[column]}}
                </td>
            </ng-container>

            <ng-container *ngIf="dateFields && dateFields.includes(column)">
                <td *matCellDef="let element" mat-cell>
                    <div>{{element[column] | date:"dd/MM/YYYY"}}</div>
                    <div *ngIf="column == 'holidayDay'">{{element.holidayDate | date: 'EEEE'}}</div>
                </td>
            </ng-container>

            <ng-container>
                <td *matCellDef="let element" mat-cell>{{(element[column])?element[column]:'-'}}</td>
            </ng-container>
        </ng-container>
    </ng-container>
</table>
