<section class="dashboard-content">
	<div class="box-style-breadcrumb p-4 actions">
		<!--BreadCrumb-->
		<ul class="breadcrumb">
			<li><a (click)="backToDocumentList()" style="color: black; font-weight: 500">Document Management</a></li>
			<li class="active" style="color: black; font-weight: 500">{{ title }} Document</li>
		</ul>
		<div>
			<button class="btn-style red-btn" form="ngForm" type="submit">Save</button>
			<button (click)="backToDocumentList()" class="btn-style black-btn" routerLink="/" type="reset">Back</button>
		</div>
		<!--BreadCrumb-->
	</div>
	<!--Card-->
	<form (ngSubmit)="onSubmit($event)" [formGroup]="addDocumenetForm" action="" id="ngForm" name="addDocumenetForm" novalidate>
		<div class="box-style-breadcrumb mt-4 p-5">
			<div class="form-main">
				<h2>{{ title }} Document</h2>
				<div class="form-row-wrapper">
					<div class="row">
						<div class="col-sm-12">
							<div class="form-field">
								<mat-form-field appearance="outline" class="element-full-width">
									<mat-label>name</mat-label>
									<input (keydown)="space($event)" (keyup)="helper.spaceTrim($event)" formControlName="name"
										   matInput   maxlength="150" name="name" required type="text"/>
									<mat-error *ngIf="addDocumenetForm.controls.name.errors?.required">
										Name is required!
									</mat-error>
								</mat-form-field>
							</div>
						</div>
						<div class="col-sm-12">
							<h4 style="font-size: 18px">Attach Document</h4>
							<div class="generate-button">
								<button [ngClass]="!documentName &&  submitted? 'is-error file-upload-button' : 'is-success file-upload-button' "
								        class="btn-style red-btn "
								        type="button">
									<span class="material-icons">upload</span>
									Drag and Drop here <br/>
									Or <br/>
									Browse File
									<input (change)="onFileChanged($event)"
									       accept="application/vnd.sealed.xls,application/vnd.sealed.doc,application/pdf"
									       id="file" type="file"
									       value=""/>
								</button>
								<div *ngIf="!documentName &&  submitted" class="is-invalid mat-error">
									Document is required!
								</div>
								<span  class="mt-3 file-info">{{ documentName }}
									<span (click)="resetCoverValue()"
									      class="material-icons close-icon">{{ documentName ? "close" : null}}
									</span>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-field">
						<mat-slide-toggle (change)="changed()"
						                  [checked]="fileStatus === true"
						                  class="button-switch"> Is visible for other
							Employees? {{fileStatus == true ? "Yes" : "No"}}</mat-slide-toggle>
					</div>
				</div>
			</div>
		</div>
		<div *ngIf="documentName" class="form-footer box-style-breadcrumb mt-3 p-3">
			<!-- for popup model -->
			<ng-template #content let-modal>
				<div class="modal-header document-modal">
					<h4 class="modal-title" id="modal-basic-title">{{documentName}}</h4>
					<div (click)="modal.dismiss('Cross click')" aria-label="Close" class="close"
					     type="button">
						<img src="../../../../assets/images/cross-icon.svg">
					</div>
				</div>
				<div class="modal-body">
					<pdf-viewer [autoresize]="true" [original-size]="false" [src]="imagePreview"
					            class="pdf-viewer"></pdf-viewer>
				</div>
				<div class="modal-footer">
					<button (click)="modal.close({document:imagePreview,fileName:docRefName})"
					        class="btn-style black-btn" type="button">Close
					</button>
				</div>
			</ng-template>
			<button (click)="openTemplate(content,docRefName)" class="btn-style red-btn" type="button">Preview</button>
<!--			<button (click)="onSubmit($event)" class="btn-style red-btn" type="submit">Save</button>-->
<!--			<button class="btn-style black-btn" routerLink="/document-management/" type="reset">Back</button>-->
		</div>
<!--		<div *ngIf="!docRefName" class="form-footer box-style-breadcrumb mt-3 p-3">-->
<!--			<button (click)="onSubmit($event)" class="btn-style red-btn" type="submit">Save</button>-->
<!--			<button class="btn-style black-btn" routerLink="/document-management/" type="reset">Back</button>-->
<!--		</div>-->
	</form>
</section>
